/*By Sudhanshu Agarwal*/

/*COLORS
#0D47A1
#FFFFFF
*/

@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(fonts/iconfont/MaterialIcons-Regular.eot);
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
        url(fonts/iconfont/MaterialIcons-Regular.woff) format('woff'),
        url(fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; 
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.content_mid {
    box-sizing: border-box;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

body {
    background-color: #512da8;
}

#maindiv {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
}

#homeimg {
    height: 100%;
}

.full {
    height: 100%;
    width: 100%;
}

.transparent {
    opacity: 0;
}

#vercenter {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.dosis {
    font-family: 'Dosis', sans-serif;
}

.josefin {
    font-family: 'Josefin Sans', sans-serif;
}

.pacifico {
    font-family: 'Pacifico', cursive;
}

.titletxt {
    font-size: 400%;
    color: #FFFFFF;
}

#downarrow {
    color: #FFFFFF;
    background-color: #0D47A1;
    font-size: 350%;
    position: absolute;
    bottom: 10;
}

.tiletitle {
    font-size: 200%;
    color: #000000;
}

.tilecontent {
    font-size: 125%;
    color: #000000;
}

.bluehighlight {
    background-color: #BBDEFB;
}

.greenhighlight {
    background-color: #B2DFDB;
}

.yellowhighlight {
    background-color: #FFECB3;
}

.redhighlight {
    background-color: #FFCCBC;
}

.purplehighlight {
    background-color: #D1C4E9;
}

.brownhighlight {
    background-color: #D7CCC8;
}

.bluehighlight:hover {
    background: #90CAF9;
    transition: background .2s;
}

.greenhighlight:hover {
    background: #80CBC4;
    transition: background .2s;
}

.yellowhighlight:hover {
    background: #FFE082;
    transition: background .2s;
}

.redhighlight:hover {
    background: #FFAB91;
    transition: background .2s;
}

.purplehighlight:hover {
    background: #B39DDB;
    transition: background .2s;
}

.brownhighlight:hover {
    background: #BCAAA4;
    transition: background .2s;
}

.abtlink {
    color: #000000;
}

.txtblack {
    color: #000000;
    font-size: 125%;
    padding: 0px;
}

.skillbtn {
    margin: 1%;
}

#menutitle {
    letter-spacing: 20px;
    font-size: 100%;
    padding-top: 2%;
}

#menutitle:hover {
    color: #009688;
    background-color: #FFFFFF;
}

.txtblack {
    color: #000000;
}

#contactform {
    height: 90%;
    width: 90%;
    margin: 5%;
}

#footerdiv {
    background-color: #FFFFFF;
    height: 8%;
    width: 100%;
    color: #000000;
}

.footerbtn {
    font-size: 80%;
}
