.img1cover {
    background-image: url("images/posts/cover1.png");
}

/*---------------------------------------------------*/

.img2cover {
    background-image: url("images/posts/cover2.jpg");
}

/*---------------------------------------------------*/

.img3cover {
    background-image: url("images/posts/cover3.jpg");
}

