.vercenter {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.title {
    font-size: 250%;
    font-weight: 300;
}

.main {
    font-size: 200%;
}

.main-other {
    font-size: 200%;
}

a {
    font-size: 250%;
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #BBBBBB;
    transition: color .2s;
}

.cloud {
    background: #ECE9E6;  
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); 
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}