@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(fonts/iconfont/MaterialIcons-Regular.eot);
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
        url(fonts/iconfont/MaterialIcons-Regular.woff) format('woff'),
        url(fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.content-mid {
    box-sizing: border-box;
    width: 100%;
    padding: 0px;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 0px 25px #A5A5A5;
}

.vercenter {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.intro-tab {
    height: 80vh;
}

.static-img {
    background-repeat: no-repeat;
    background-size: cover;
}

.img-tab {
    height: 80vh;
    padding: 40px;
}

.half-height {
    height: 40vh;
    padding: 0px;
    right: 0px;
}

.half-height:hover {
    transition: all 0.4s ease;
}

.col {
    padding: 0px !important;
}

.title-text {
    font-size: 350%;
    font-weight: 900;
    color: #FFFFFF;
    opacity: 0.8;
}

.title-text:hover {  
    opacity: 0.2;
    transition: all 0.2s ease;
}

.main-text {
    font-size: 125%;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.8;
}

.main-text:hover {  
    opacity: 0.4;
    transition: all 0.2s ease;
}

.royal-text {
    color: #141E30 !important; 
}

.noshadow {
    box-shadow: 0px 0px 0px 0px !important;
    opacity: 0.8;
}

.noshadow:hover {
    opacity: 0.4;
    transition: all 0.2s ease;
}

.bottom-obj {
    margin-top: 25vh;
}

.purple-text {
    color: #2F0743 !important; 
}

.btn-flat {
    margin: 15px;
}

/*-------FONTS-------*/

.catarmaran {
    font-family: 'Catamaran', sans-serif;
}

.rubik {
    font-family: 'Rubik', sans-serif;
}

/*------PICTURES-------*/

.img-1 {
    background-image: url("images/AndroidPark.jpg");
}

.img-2 {
    background-image: url("images/GoldenGate.jpg");
}

.img-3 {
    background-image: url("images/Sunset.jpg");
}

/*------GRADIENTS FROM UIGRADIENTS.COM------*/

.dull {
    background: #C9D6FF;  
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); 
}

.cloud {
    background: #ECE9E6;  
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); 
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.royal {
    background: #141E30; 
    background: -webkit-linear-gradient(to right, #243B55, #141E30); 
    background: linear-gradient(to right, #243B55, #141E30);
}

.purple {
    background: #41295a;  
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);  
    background: linear-gradient(to right, #2F0743, #41295a); 
}

.sunset {
    background: #ee0979;  
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979); 
    background: linear-gradient(to right, #ff6a00, #ee0979); 
}

.frost {
    background: #000428;  
    background: -webkit-linear-gradient(to right, #004e92, #000428); 
    background: linear-gradient(to right, #004e92, #000428); 
}

.leaf {
    background: #76b852; 
    background: -webkit-linear-gradient(to right, #8DC26F, #76b852);  
    background: linear-gradient(to right, #8DC26F, #76b852);
}

.shifter {
    background: #bc4e9c; 
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c); 
    background: linear-gradient(to right, #f80759, #bc4e9c);
}