.vercenter {
  margin-left: 25vw;
  margin-right: 25vw;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#main-text {
    font-size: 35px;
    width: 100%;
    height: 100%;
    font-family: 'Muli', sans-serif;
}

hr {
    border: 0 none;
    height: 0.5px;
    background: #000000;
    border-radius: 100px;
}

@media screen and (max-width: 600px) {}
    .vercenter {
  margin-left: 10vw;
  margin-right: 10vw;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
}

a {
    text-decoration: none;
}

.mispronounced {
    background: #FFFFFF;
    font-size: 15px;
    height: 6vh;
    padding: 0.5vh;

}

.mispronounced:hover {
    background: #F5F5F5;
    transition: .3s background;
}
