@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(fonts/iconfont/MaterialIcons-Regular.eot);
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
        url(fonts/iconfont/MaterialIcons-Regular.woff) format('woff'),
        url(fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.content-mid {
    box-sizing: border-box;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.full {
    height: 100%;
    width: 100%;
}

.vercenter {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

body {
    width: 100%;
    height: 100%;
    background: #E8E8E8;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.static-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 50%;
    width: 100%;
}

#cover-img {
    background-size: cover;
    position: fixed; 
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    transform: scale(1.1); 
    -webkit-filter: blur(6px);
}

#post-title {
    padding: 2%;
    color: #FFFFFF;
    font-size: 220%;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.5);
}

.post-chip {
    color: #FFFFFF;
    font-weight: 400;
}

.red-gradient {
    background: #FF5E62;  
    background: -webkit-linear-gradient(to right, #FF5E62, #FF9966); 
    background: linear-gradient(to right, #FF5E62, #FF9966);
}

.green-gradient {
    background: #00B09B;  
    background: -webkit-linear-gradient(to right, #00B09B, #96C93D); 
    background: linear-gradient(to right, #00B09B, #96C93D);
}

.blue-gradient {
background: #396afc;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.noshow {
    display: none;
}

.post-img {
    width: 100%;
    height: 30%;
    background-size: cover;
    object-fit: cover;
    margin-top: 2%;
    margin-bottom: 3%;
}

.img-title {
    padding: 1%;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: 300;
    font-size: 70%;
    bottom: 0px; 
    position: absolute; 
}

.page-foot {
    color: #FFFFFF;
    font-weight: 200;
    font-size: 100%;
    height: 10%;
    width: 100%;
}

.black-shade {
    background-color: rgba(0, 0, 0, 0.4) !important;
}