@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(fonts/iconfont/MaterialIcons-Regular.eot);
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
        url(fonts/iconfont/MaterialIcons-Regular.woff) format('woff'),
        url(fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; 
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.content_mid {
    box-sizing: border-box;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

body {
    background-color: #3EB151;
}

.vercenter {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#qclogo {
    height: 100%;
}

#topnav {
    box-shadow: 0px 0px 0px;
    background-color: #FFFFFF;
    transition: all 0.2s ease-in-out;
}

.topitem {
    color: #3EB151;
    font-weight: 300;
}

.mobileitem {
    font-weight: 300 !important;
    font-size: 150% !important;
    margin-top: 3%;
} 

.backwhite {
    background-color: #FFFFFF;;
}

.navbar-fixed {
    height: 10% !important;
}

.notfull {
    height: 80%;
    width: 100%;
}

.full {
    height: 100%;
    width: 100%;
}

#hometxt {
    color: #FFFFFF;
    font-size: 350%;
    font-weight: 200;
}

.txtgreen {
    color: #3EB151;
}

.mainsec {
    width: 100%;
    padding-top: 20px;
    background-color: #FFFFFF;
}

.topictxt {
    font-size: 220%;
    font-weight: 300;
}

.regbtn {
    background-color: #FFFFFF !important;
    font-size: 120%;
    font-weight: 300;
    margin: 2% !important;
    color: #000000 !important;
}

.abttxt {
    font-weight: 200;
    font-size: 150%;
}

.facimg {
    height: 20%;
    border-radius: 3%;
}

.foottxt {
    font-size: 100%;
    color: #3EB151;
    font-weight: 300;
}

.crdtxt {
    font-size: 90% !important;
    color: #000000 !important;
    font-weight: 200 !important;
}

.crdtxtsm {
    font-size: 82% !important;
    color: #000000 !important;
    font-weight: 200 !important;
}

.royalblue {
    color: #0d47a1 !important;
}

#regbtn {
    background-color: #3EB151;
    font-size: 100%;
    font-weight: 200;
    margin: 1%;
    box-shadow: 0px 0px 0px;
}

#fbbtn {
    background-color: #6D84B4;
    font-size: 100%;
    font-weight: 200;
    margin: 1%;
    box-shadow: 0px 0px 0px;
}

#contactform {
    width: 100%;
    height: 80%;
}

.crdmem {
    font-size: 90% !important;
    color: #000000 !important;
    font-weight: 200 !important;
}

.crdmemsm {
    font-size: 75% !important;
    font-weight: 200 !important;
}
